<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ssm_solr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <!-- 元素的加载顺序：
	  1.首先加载全局参数context-param
	  2.加载监听器
	  3.加载过滤器：（根据配置的顺序看加载）
	  4.加载servlet：（根据配置的优先级加载，根据load-on-startup的值，大于0的整数，值越小，优先级越高）
  -->
  
  <!-- 加载spring配置文件 -->  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:spring/applicationContext-*.xml</param-value>
  </context-param>   
  
  <!-- 配置spring监听器（ContextLoaderListenter） -->   
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 配置字符集编码过滤器（CharacterEncodingFilter） -->   
  <filter>
  	<filter-name>encodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	
	<!-- 使用指定的编码 -->
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<!-- 表示所有请求都经过字符集编码过滤器处理 -->
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 配置前端控制器（DispatcherServlet） -->                                                                                                                                                                                           
  <servlet>
  	<servlet-name>ssm_solr</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	
  	<!-- 加载主配置文件 -->
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:spring/springmvc.xml</param-value>
  	</init-param>
  	
  	<!-- 配置什么时候加载前端控制器，说明：
	  	1.配置大于等于0的整数，表示在web容器启动的时候加载
	  	2.配置小于0的整数，表示在第一次请求到达的时候加载 
  	-->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<!-- 配置什么样的请求进入前端控制器，说明：
	  	1.*.do，表示以.do结尾的请求进入前端控制器
	  	2./，表示所有请求都进入前端控制器，支持restful 
	-->
  	<servlet-name>ssm_solr</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>